/*******************************************************************************
 * Exported from POEditor - https://poeditor.com
 * {{date}}
 *******************************************************************************/

enum JsonError: String, ErrorType {
  {{#contexts}}
  case {{{term_camelcase_uncapitalized}}} = "{{{context}}}";
  {{/contexts}}
}

extension JsonError {

  var localizedMessage: String {
    return NSLocalizedString(self.localizedKey, "")
  }

  var localizedKey: String {
    switch self {
      {{#contexts}}
      case .{{{term_camelcase_uncapitalized}}}:
        return "{{{term}}}"
      {{/contexts}}
    }
  }
}
